.padre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.hijos {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    width: 16%;
    margin: 1%;
}

div#uno {
    border: 1px solid black;
    padding: 2%;
    width: 16%;
    margin: 0%;
    
}

div#dos {
    border: 1px solid black;
    padding: 2%;
    width: 16%;
    margin: 0%;
}

div#tres {
    border: 1px solid black;
    padding: 2%;
    width: 16%;
    margin: 0%;
}

div#cuatro {
    border: 1px solid black;
    padding: 2%;
    width: 16%;
    margin: 0%;
}



h1.texto{
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    font-size: 100%;
}

li.textolista{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 80%;
}

p.texto{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 70%;
}

p.textoo{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 70%;
}


.footerpadre {
    display: flex;
    max-width: 100%;
    padding: 3%;
    margin-top: 1%;
    border-top: 1px solid black;
}

.footerpadre2 {
    border-top: 1px solid black;
    display: flex;
    max-width: 100%;
    padding: 3%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footerhijo {
    width: 50%;
}

div#footer2 {
    margin-left: 1%;
    border-left: 1px solid black;
    padding-left: 1%;
}




@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

img {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-fill-mode: both;
    animation-range: entry 25% cover 50%;
} 

.productos {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-fill-mode: both;
    animation-range: entry 25% cover 50%;
} 


.padreTarjeta {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-fill-mode: both;
    animation-range: entry 25% cover 50%;
} 


.ayuda {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-fill-mode: both;
    animation-range: entry 25% cover 50%;
} 

h2.ayudarte {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-fill-mode: both;
    animation-range: entry 25% cover 50%;
} 


.ofertasas {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-fill-mode: both;
    animation-range: entry 25% cover 50%;
} 








video.video {
    width: 100%;
    height: 100%;
}
  

.navegacion {
    width: 100%;
    background-color: rgb(235 235 235);
    text-align: left;
}

h1 {
    font-size: 150%;
}

a.item {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    color: rgb(0, 0, 0);
    font-size: 115%;
    text-decoration: none;
    transition: 0.4s;
    background: rgb(235 235 235);
}

a.item:hover{
    color: white;
    background: black;
    padding: 10px;
    border-radius: 10cm;
}

p.item {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    color: black;
    font-size: 100%;
    padding: 0%;
}

.item {
    display: inline-block; 
    color: white;
    margin: 1%;
}

.item2 {
    display: inline-block;
    color: white;
    margin: 1%;
    text-align: right;
}

.portada{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 1.5s;
}

.portada:hover{
    width: 90%;
    height: 90%;
    object-fit: cover;

}

.imgTarjeta {
    height: 60%;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    transition: 0.8s;
}

.imgTarjeta:hover{
    height: 70%;
    width: 60%;

}

.padreTarjeta {
    border-top: 20px solid rgb(0 0 0);
    width: 22%;
    height: 20%;
    display: inline-block;
    margin: 1%;
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
    padding: 0%;
}
body{
    background-color: rgb(235 235 235);
}

.parrafo {
    text-align: center;
    color: black;
    font-size: 180%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
}

.precio {
    text-align: center;
    font-size: 100%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
}

.productos {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    background-color: black;
    color: white;
    padding: 4%;
    font-size: 200%;
}

.comprar {
    padding: 3%;
    margin: 0%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    background-color: #FFEB3B;
    font-size: 100%;
    border: 0px;
    text-align: center;
}


.off {
    text-align: center;
    font-size: 95%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
}

.cuotas {
    text-align: center;
    font-size: 70%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    background-color: #0000001c;
}

.ofertasas {
    width: 20%;
    height: 20%;
    display: inline-block;
    margin: 2.3%;
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
    padding: 0%;
}

a.comprar {
    padding: 3%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    background-color: #ffe718;
    font-size: 100%;
    border: 0px;
    width: 94%;
    height: 100%;
    display: block;
    text-decoration: none;
    transition: 0.8s;
    color: black;
}

a.comprar:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 4%;

}

h2.ayudarte {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    display: block;
}

.ayuda {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 16%;
    margin: 1%;
    text-align: center;
    max-width: 20%;
    padding: 3%;
}

.ayudaa {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 19%;
    margin: 1%;
    text-align: center;
    max-width: 16%;
    padding: 1%;
}

p.preguntas {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    text-decoration: none;
}

p.preguntastexto {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    font-size: 68%;
}

a.preguntas {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    padding: 3px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    transition: 0.4s;
}

a.preguntas:hover {
    background-color: black;
    color: white;
}

footer.footerr {
    border-top: 2px solid #00000047;
    margin: 1%;
}

.creditos {
    display: inline-grid;
    margin: -1%;
    width: 17%;
    padding: 3%;
    max-height: 0%;
    border-top: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    
}

.creditosos {
    display: inline-grid;
    width: 23%;
    padding: 3%;
    max-height: 0%;
    border-top: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    margin-left: 3%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
}

.creditoss {
    display: inline-grid;
    width: 53%;
    padding: 3%;
    max-height: 0%;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    margin-left: 1.6%;
    margin-top: 21.1px;
    border-top-width: 0px;
}













@media screen and (max-width: 480px) {

    .navegacion {
        width: 100%;
        background-color: rgb(235 235 235);
        text-align: left;
    }
    
    
    p.item {
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        color: black;
        font-size: 100%;
    }
    
    .item {
        display: inline-block; 
        color: white;
        margin: 1%;
    }
    
    .item2 {
        display: inline-block;
        color: white;
        margin: 1%;
        text-align: right;
    }
    
    .portada{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .imgTarjeta {
        height: 60%;
        width: 50%;
        margin-left: 25%;
        margin-top: 10%;
    }
    
    .padreTarjeta {
        border-top: 20px solid rgb(0 0 0);
        width: 47%;
        height: 20%;
        display: inline-block;
        margin: 1%;
        border-radius: 3%;
        background-color: rgb(255, 255, 255);
        padding: 0%;
    }
    
    body{
        background-color: rgb(235 235 235);
    }
    
    .parrafo {
        text-align: center;
        color: black;
        font-size: 110%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
    }
    
    .precio {
        text-align: center;
        font-size: 100%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
    }
    
    .productos {
        text-align: center;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        background-color: black;
        color: white;
        padding: 4%;
        font-size: 200%;
    }
    
    .comprar {
        padding: 3%;
        margin: 0%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        background-color: #FFEB3B;
        font-size: 100%;
        border: 0px;
        text-align: center;
    }

    .off {
        text-align: center;
        font-size: 85%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
    }
    
    .cuotas {
        text-align: center;
        font-size: 65%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        background-color: #0000001c;
    }
    
    .ofertasas {
        width: 44%;
        height: 20%;
        display: inline-block;
        margin: 2%;
        border-radius: 3%;
        background-color: rgb(255, 255, 255);
        padding: 0%;
    }

    h2.ayudarte {
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        display: block;
        width: 100%;
    }
    
    .ayuda {
        display: inline-block;
        background-color: rgb(255, 255, 255);
        width: 80%;
        margin: 1%;
        max-width: 100%;
        padding: 9%;
        margin-left: 2%;
    }
    
    p.preguntas {
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        font-size: 150%;
    }
    
    p.preguntastexto {
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        font-size: 79%;
    }
    
    a.preguntas {
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        font-size: 100%;
    }

    .creditosos {
        display: inline-grid;
        width: 80%;
        padding: 3%;
        max-height: 0%;
        border-right: 1px solid #aaaaaa;
        border-bottom: 0px solid #aaaaaa;
        margin-left: 7%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        margin-top: 8%;
    }

    .creditos {
        display: inline-grid;
        margin-left: 8%;
        width: 85%;
        padding: 0%;
        max-height: 0%;
        border-right: 1px solid #aaaaaa;
        border-bottom: 0px solid #aaaaaa;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        padding-bottom: 4%;
    }

    .creditoss {
        display: inline-grid;
        margin-left: 8%;
        width: 85%;
        padding: 0%;
        max-height: 0%;
        border-bottom: 1px solid #aaaaaa;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        border-right: 1px solid #aaaaaa;
        margin-top: 0%;
    }

    div#uno {
        border: 1px solid black;
        padding: 2%;
        margin: 0%;
        width: 100%;
    }

    div#dos {
        border: 1px solid black;
        padding: 2%;
        margin: 0%;
        width: 100%;
    }

    div#tres {
        border: 1px solid black;
        padding: 2%;
        margin: 0%;
        width: 100%;
    }

    div#cuatro {
        border: 0px solid black;
        padding: 2%;
        margin: 0%;
        width: 100%;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .footerhijo {
        width: 100%;
    }

    div#footer2 {
        margin-left: 1%;
        border-left: 1px solid black;
        padding-left: 12%;
    }

    p.textoo {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-size: 60%;
    }

    
    
    
}


@media screen and (min-height: 823px) {

    div#uno {
        border: 1px solid black;
        padding: 2%;
        margin: 0%;
        width: 100%;
    }

    div#dos {
        border: 1px solid black;
        padding: 2%;
        margin: 0%;
        width: 100%;
    }

    div#tres {
        border: 1px solid black;
        padding: 2%;
        margin: 0%;
        width: 100%;
    }

    div#cuatro {
        border: 0px solid black;
        padding: 2%;
        margin: 0%;
        width: 100%;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .footerhijo {
        width: 100%;
    }

    div#footer2 {
        margin-left: 1%;
        border-left: 1px solid black;
        padding-left: 12%;
    }

    p.textoo {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
        font-size: 60%;
    }


    li {
        font-size: 74%;
    }
        
    .creditos {
        display: inline-grid;
        margin: -1.6%;
        width: 43%;
        padding: 3%;
        max-height: 0%;
        border-top: 1px solid #aaaaaa;
        border-right: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        margin-left: 1%;
        margin-top: -0.1%;
    }

        .creditosos {
            display: inline-grid;
            width: 92%;
            padding: 3%;
            max-height: 0%;
            border-top: 1px solid #aaaaaa;
            border-right: 1px solid #aaaaaa;
            border-bottom: 1px solid #aaaaaa;
            margin-left: 3%;
            font-family: "Nunito", sans-serif;
            font-weight: 1000;
        }
    

        .creditoss {
            display: inline-grid;
            width: 53%;
            padding: 3%;
            max-height: 0%;
            border-bottom: 1px solid #aaaaaa;
            font-family: "Nunito", sans-serif;
            font-weight: 1000;
            margin-left: 1.6%;
            margin-top: 5.1px;
            border-top: 0px;
        }

        .ofertasas {
            width: 44%;
            height: 20%;
            display: inline-block;
            margin: 2.3%;
            border-radius: 3%;
            background-color: rgb(255, 255, 255);
            padding: 0%;
        }

        .ayuda {
            display: inline-block;
            background-color: rgb(255, 255, 255);
            width: 100%;
            margin: 2%;
            text-align: center;
            max-width: 100%;
            padding: 3%;
        }
     
}
