.navegacion {
    width: 100%;
    background-color: rgb(235 235 235);
    text-align: left;
}

a.item {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    color: black;
    font-size: 100%;
    text-decoration: none;
}



p.item {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    color: black;
    font-size: 100%;
    padding: 0%;
}

.item {
    display: inline-block; 
    color: white;
    margin: 1%;
}

.item2 {
    display: inline-block;
    color: white;
    margin: 1%;
    text-align: right;
}

.portada{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imgTarjeta {
    height: 60%;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

.padreTarjeta {
    border-top: 20px solid rgb(0 0 0);
    width: 22%;
    height: 20%;
    display: inline-block;
    margin: 1%;
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
    padding: 0%;
}
body{
    background-color: rgb(235 235 235);
}

.parrafo {
    text-align: center;
    color: black;
    font-size: 180%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
}

.precio {
    text-align: center;
    font-size: 100%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
}

.productos {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    background-color: black;
    color: white;
    padding: 4%;
    font-size: 200%;
}

.comprar {
    padding: 3%;
    margin: 0%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    background-color: #FFEB3B;
    font-size: 100%;
    border: 0px;
    text-align: center;
}


.off {
    text-align: center;
    font-size: 95%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
}

.cuotas {
    text-align: center;
    font-size: 70%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    background-color: #0000001c;
}

.ofertasas {
    width: 20%;
    height: 20%;
    display: inline-block;
    margin: 2.3%;
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
    padding: 0%;
}

a.comprar {
    padding: 3%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    background-color: #FFEB3B;
    font-size: 100%;
    border: 0px;
    width: 94%;
    height: 100%;
    display: block;
}

h2.ayudarte {
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    display: block;
}

.ayuda {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 26%;
    margin: 1%;
    text-align: center;
    max-width: 20%;
    padding: 1%;
}

.ayudaa {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 19%;
    margin: 1%;
    text-align: center;
    max-width: 16%;
    padding: 1%;
}

p.preguntas {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
}

p.preguntastexto {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    font-size: 68%;
}

a.preguntas {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
}

footer.footerr {
    border-top: 2px solid #00000047;
    margin: 1%;
}

.creditos {
    display: inline-grid;
    margin: -1%;
    width: 17%;
    padding: 3%;
    max-height: 0%;
    border-top: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    
}

.creditosos {
    display: inline-grid;
    width: 17%;
    padding: 3%;
    max-height: 0%;
    border-top: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    margin-left: 7%;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
}

.creditoss {
    display: inline-grid;
    margin-top: 2%;
    width: 18%;
    padding: 3%;
    max-height: 0%;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
}













@media screen and (max-width: 480px) {

    .navegacion {
        width: 100%;
        background-color: rgb(235 235 235);
        text-align: left;
    }
    
    
    p.item {
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        color: black;
        font-size: 100%;
    }
    
    .item {
        display: inline-block; 
        color: white;
        margin: 1%;
    }
    
    .item2 {
        display: inline-block;
        color: white;
        margin: 1%;
        text-align: right;
    }
    
    .portada{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
    .imgTarjeta {
        height: 60%;
        width: 50%;
        margin-left: 25%;
        margin-top: 10%;
    }
    
    .padreTarjeta {
        border-top: 20px solid rgb(0 0 0);
        width: 47%;
        height: 20%;
        display: inline-block;
        margin: 1%;
        border-radius: 3%;
        background-color: rgb(255, 255, 255);
        padding: 0%;
    }
    
    body{
        background-color: rgb(235 235 235);
    }
    
    .parrafo {
        text-align: center;
        color: black;
        font-size: 110%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
    }
    
    .precio {
        text-align: center;
        font-size: 100%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
    }
    
    .productos {
        text-align: center;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        background-color: black;
        color: white;
        padding: 4%;
        font-size: 200%;
    }
    
    .comprar {
        padding: 3%;
        margin: 0%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        background-color: #FFEB3B;
        font-size: 100%;
        border: 0px;
        text-align: center;
    }

    .off {
        text-align: center;
        font-size: 85%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
    }
    
    .cuotas {
        text-align: center;
        font-size: 65%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        background-color: #0000001c;
    }
    
    .ofertasas {
        width: 44%;
        height: 20%;
        display: inline-block;
        margin: 2%;
        border-radius: 3%;
        background-color: rgb(255, 255, 255);
        padding: 0%;
    }

    h2.ayudarte {
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        display: block;
        width: 100%;
    }
    
    .ayuda {
        display: inline-block;
        background-color: rgb(255, 255, 255);
        width: 41%;
        margin: 1%;
        max-width: 41%;
        padding: 10%;
        margin-left: 21%;
    }
    
    p.preguntas {
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        font-size: 150%;
    }
    
    p.preguntastexto {
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        font-size: 79%;
    }
    
    a.preguntas {
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        font-size: 100%;
    }

    .creditosos {
        display: inline-grid;
        width: 80%;
        padding: 3%;
        max-height: 0%;
        border-right: 1px solid #aaaaaa;
        border-bottom: 0px solid #aaaaaa;
        margin-left: 7%;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        margin-top: 8%;
    }

    .creditos {
        display: inline-grid;
        margin-left: 8%;
        width: 85%;
        padding: 0%;
        max-height: 0%;
        border-right: 1px solid #aaaaaa;
        border-bottom: 0px solid #aaaaaa;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        padding-bottom: 4%;
    }

    .creditoss {
        display: inline-grid;
        margin-left: 8%;
        width: 85%;
        padding: 0%;
        max-height: 0%;
        border-bottom: 1px solid #aaaaaa;
        font-family: "Nunito", sans-serif;
        font-weight: 1000;
        border-right: 1px solid #aaaaaa;
        margin-top: 0%;
    }
    
    
}

